.principal{
    padding: 24px 16px;

    display: grid;
    gap: 16px;
}

.titulo-pagina{
    font-size: 1.5rem;
    font-weight: 700;
}

.cartao{
    width: 100%;

    border-radius: 15px;

    overflow: hidden;

    background-color: var(--cartao);
}

.cartao--destaque{
    margin-bottom: 16px;
}

.cartao__conteudo{
    padding: 16px;

    display: grid;
    grid-template-columns: auto 1fr;

    gap: 8px;
}

.cartao__destaque{
    grid-column: span 2;
}

.cartao__titulo{
    font-size: 1.2rem;
    font-weight: 700;

    grid-column: span 2;
}

.cartao__perfil{
    color: var(--fonte-alternativa);
    font-size: .9rem;

    grid-column: span 2;
}

.cartao__info{
    display: flex;
    align-items: center;

    color: var(--fonte-alternativa);
}

.cartao__info--tempo::before{
    content: var(--relogio);
    margin-right: var(--espaco-interno-botao);
}

.cartao__info--vizualizacao::before{
    content: var(--visualizacao);
    margin-right: var(--espaco-interno-botao);
}

.cartao__botao{
    display: flex;
    justify-content: center;
    align-items: center;

    background-color: var(--botao);

    width: 40px;
    height: 40px;

    border-radius: 10px;

    font-size: .9rem;

    justify-self: flex-end;
}

.cartao__botao--play::before{
    content: var(--play);
    font-size: 24px;
}

.cartao__botao--destaque{
    width: 100%;

    grid-column: span 2;
}

.cartao__botao--destaque::before{
    margin-right: var(--espaco-interno-botao);
}

/* ============ Section Cartões de Videos ============ */

.sessao{
    display: grid;
    gap: 16px;
}


/* ============ Section Cartões de Videos ============ */
.compra{
    display: grid;
    gap: 16px; 
}

.cartao__info--valor::before{
    content: var(--moeda);
    margin-right: var(--espaco-interno-botao);
}

.cartao__botao--compra::before{
    content: var(--carrinho);
}

/* ============ Cartões Recentes ============ */
.cartao--recentes{
    display: none;
}

@media screen and (min-width: 1440px) {
    .principal{
        display: grid;
        grid-template-columns: auto 1fr auto;
        column-gap: 32px;
        grid-column: 2;

        padding: 16px 60px;

        grid-template-areas:
            "titulo-pagina titulo-pagina titulo-pagina"
            "cartao--destaque__banner cartao--destaque__banner cartao--recentes__videos"
            "titulo-sessao titulo-sessao titulo-sessao"
            "sessao sessao sessao"
            "cartao--recentes__arte cartao--destaque__arte cartao--destaque__arte"
            "titulo-sessao__compra titulo-sessao__compra titulo-sessao__compra"
            "compra compra compra"
        ;
    }

    /* ====== Grid area ====== */
    .titulo-pagina{
        grid-area: titulo-pagina;
    }

    .cartao--destaque__banner{
        grid-area: cartao--destaque__banner;
    }
    
    .cartao--recentes__videos{
        grid-area: cartao--recentes__videos;
    }

    .titulo-sessao{
        grid-area: titulo-sessao;
    }

    .sessao{
        grid-area: sessao;
    }
    
    .cartao--recentes__arte{
        grid-area: cartao--recentes__arte;
    }
    .cartao--destaque__arte{
        grid-area: cartao--destaque__arte;
    }

    .titulo-sessao__compra{
        grid-area: titulo-sessao__compra;
    }

    .compra{
        grid-area: compra;
    }

    /* ============ Cartões Recentes ============ */
    .cartao--recentes{
        display: grid;
        grid-template-columns: repeat(2, auto);
        row-gap: 24px;

        align-items: center;

        width: 256px;

        padding: var(--espacamento-interno-corpo);

        box-sizing: border-box;
    }

    .cartao--recentes .cartao__titulo{
        grid-column: auto;
    }

    .cartao__link{
        font-size: .8rem;
        font-weight: 600;

        color: var(--link);

        justify-self: flex-end;
    }

    .cartao__lista{
        display: grid;
        row-gap: var(--espacamento-interno-corpo-auto);
        grid-column: span 2;
    }

    .cartao__item{
        display: grid;
        grid-template-columns: auto 1fr;
        gap: var(--espacamento-interno-corpo-baixo);
    }

    .cartao__item-thumbnail{
        width: 32px;
        grid-row: span 2;
    }

    .cartao__item-titulo{
        font-size: .9rem;
        line-height: 1.2rem;
        font-weight: 700;
    }

    .cartao__item-perfil{
        font-size: .8rem;
        color: var(--fonte-alternativa);
    }

}
