.principal {
    padding: 24px 16px;

    display: grid;
    gap: 16px;
}

.titulo-pagina {
    font-size: 1.5rem;
    font-weight: 700;
}

.section--titulo{
    font-size: var(--espacamento-titulo-cartao-itens);
    font-weight: 700;
    font-style: normal;
    line-height: 32px;
}

.cartao {
    width: 100%;

    border-radius: 15px;

    overflow: hidden;

    background-color: var(--cartao);
}

.cartao--destaque {
    margin-bottom: 16px;
}

.cartao__img--desktop {
    display: none;
}

.cartao__conteudo {
    padding: 16px;

    display: grid;
    grid-template-columns: auto 1fr;

    gap: 8px;
}

.cartao__destaque {
    grid-column: span 2;
}

.cartao__titulo {
    font-size: 18px;
    font-weight: 700;
    line-height: 24px;

    grid-column: span 2;
}

.cartao__perfil {
    color: var(--fonte-alternativa);
    font-size: .9rem;

    grid-column: span 2;
}

.cartao__info {
    display: flex;
    align-items: center;

    color: var(--fonte-alternativa);
}

.cartao__info--tempo::before {
    content: var(--relogio);
    margin-right: var(--espaco-interno-botao);
}

.cartao__info--vizualizacao::before {
    content: var(--visualizacao);
    margin-right: var(--espaco-interno-botao);
}

.cartao__botao {
    display: flex;
    justify-content: center;
    align-items: center;

    background-color: var(--botao);

    width: 40px;
    height: 40px;

    border-radius: 10px;

    font-size: .9rem;

    justify-self: flex-end;
}

.cartao__botao--play::before {
    content: var(--play);
    font-size: 24px;
}

.cartao__botao--destaque {
    width: 100%;

    grid-column: span 2;
}

.cartao__botao--destaque::before {
    margin-right: var(--espaco-interno-botao);
}

/* ============ Section Cartões de Videos ============ */

.sessao {
    display: grid;
    gap: 16px;
}


/* ============ Section Cartões de Videos ============ */
.compra {
    display: grid;
    gap: 16px;
}

.cartao__info--valor::before {
    content: var(--moeda);
    margin-right: var(--espaco-interno-botao);
}

.cartao__botao--compra::before {
    content: var(--carrinho);
}

/* ============ Cartões Recentes ============ */
.cartao--recentes {
    display: none;
}

@media screen and (min-width: 1440px) {

    /* ====== Ajuste Imagens ====== */

    .cartao__img--desktop {
        display: block;
    }

    .cartao__img--mobile {
        display: none;
    }

    /* ====== Ajuste Card Destaque ====== */
    .cartao--destaque {
        margin-bottom: 0;
    }

    .cartao__botao--destaque {
        grid-column: auto;
        padding: var(--espacamento-interno-botao);
    }

    /* ====== Grid area e Card ====== */
    .principal {
        display: grid;
        grid-template-columns: auto 1fr auto;
        column-gap: 32px;
        grid-column: 2;

        padding: 16px 60px;

        grid-template-areas:
            "titulo-pagina titulo-pagina titulo-pagina"
            "cartao--destaque__banner cartao--destaque__banner cartao--recentes__videos"
            "sessao sessao sessao"
            "cartao--recentes__arte cartao--destaque__arte cartao--destaque__arte"
            "compra compra compra"
        ;
    }

    .titulo-pagina {
        grid-area: titulo-pagina;
    }

    .cartao--destaque__banner {
        grid-area: cartao--destaque__banner;
    }

    .cartao--recentes__videos {
        grid-area: cartao--recentes__videos;
    }

    .sessao {
        grid-area: sessao;
        grid-template-columns: repeat(4, 1fr);
    }

    .titulo-sessao {

        grid-column: span 4;
    }

    .cartao--recentes__arte {
        grid-area: cartao--recentes__arte;
    }

    .cartao--destaque__arte {
        grid-area: cartao--destaque__arte;
    }

    .compra {
        grid-area: compra;
        grid-template-columns: repeat(4, 1fr);
    }

    .titulo-sessao__compra {
        grid-column: span 4;
    }

    /* ============ Cartões Recentes - Card ============ */
    .cartao--recentes {
        display: grid;
        grid-template-columns: repeat(2, auto);
        row-gap: 24px;

        align-items: center;
        align-self: flex-start;

        width: 256px;

        padding: var(--espacamento-interno-corpo);

        box-sizing: border-box;
    }

    .cartao--recentes .cartao__titulo {
        grid-column: auto;
    }

    .cartao__link {
        font-size: .8rem;
        font-weight: 600;

        color: var(--link);

        justify-self: flex-end;
    }

    .cartao__lista {
        display: grid;
        row-gap: var(--espaco-entre-elementos-auto);
        grid-column: span 2;
    }

    .cartao__item {
        display: grid;
        grid-template-columns: auto 1fr;
        gap: var(--espaco-entre-elementos-baixo);
    }

    .cartao__item-thumbnail {
        width: 32px;
        grid-row: span 2;
    }

    .cartao__item-titulo {
        font-size: .9rem;
        line-height: 1.2rem;
        font-weight: 700;
    }

    .cartao__item-perfil {
        font-size: .8rem;
        color: var(--fonte-alternativa);
    }


    /* ====== Page Video ====== */
    .cartao__perfil--video {
        display: grid;
        grid-template-columns: repeat(3, auto);
        column-gap: 8px;

        grid-column: 1;
        grid-row: 3;

        align-items: center;
        justify-self: flex-start;
    }

    .cartao__perfil--video::before {
        content: "";

        display: block;

        height: 32px;
        width: 32px;

        background-image: url(../flex-e-grid-main/assets/img/profile_2.png);
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center;
    }

    .cartao__botao--video {
        grid-column: 2;
        grid-row: 3;

        width: 153px;
    }
    
}

/* ====== Page Picos ====== */

.cartao__botao--map::before{
    content: var(--picos);
    font-size: 24px;
}


